.navvv {
	width: 100%;
    height: 70px;
    background-color: red;
    padding-top: 17px;
}

#collapseExample {
	background-color: #E9515F
}

.card {
	width: 100%;
	height: 50px;
	background-color: #E9515F;
	border: 0px;
}

.botonMenu,  .botonCentral {
	color: white;
	font-size: 20px;
	padding-left: 35px;
}

.botonCentral {
	padding-left: 482px;
}

.botonDerecha1 {
	padding-left: 512px;
	color: white;
	font-size: 16px;
}

.botonDerecha2 {
	color: white;
	font-size: 16px;
}

.card-body {
	color: white;
	font-size: 20px;
	padding-left: 35px;
	border-bottom: 2px solid white;
	padding-top: 7px;
	padding-bottom: 7px;
}

.card-body a {
	color: white;
}

#footer {
    background-color: #404040;
    color: #FFF;
}

.container {
    width: 1170px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row pie1 {
	padding-top: 20px;
    padding-bottom: 20px;
}

.col-md-6 {
    width: 50%;
}

#footer a {
    color: #ddd !important;
    display: block;
    font-size: 13px;
    line-height: 15px !important;
    margin-bottom: 7px;
}

.pie1 ul li {
    display: inline-block;
    list-style-image: none;
    list-style-type: none;
    margin-right: 12px;
}