/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

body {
	font-family: 'Roboto Condensed', sans-serif;
}

.navvv {
	width: 100%;
    height: 70px;
    background-color: #BF0404;
    padding-top: 17px;
}

#collapseExample, #collapseExample2 {
	background-color: #E9515F
}

.card {
	width: 100%;
	height: 50px;
	background-color: #E9515F;
	border: 0px;
}

.botonMenu,  .botonCentral {
	color: white;
	font-size: 20px;
	padding-left: 130px;
}

.botonCentral {
	padding-left: 426px;
}

.botonDerecha1 {
	padding-left: 390px;
	color: white;
	font-size: 16px;
}

.botonDerecha2 {
	color: white;
	font-size: 16px;
}

.card-body {
	color: white;
	font-size: 18px;
	padding-left: 35px;
	border-bottom: 1px solid white;
	padding-top: 7px;
	padding-bottom: 7px;
}

.card-body a {
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

#footer {
    background-color: #404040;
    color: #FFF;
}

.container {
    width: 1170px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.pie1 {
    border-top: 1px solid #a0a0a0;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.col-md-6 {
    width: 50%;
}

#footer a {
    color: #ddd !important;
    display: block;
    font-size: 13px;
    line-height: 15px !important;
    margin-bottom: 7px;
}

.pie1 ul li {
    display: inline-block;
    list-style-image: none;
    list-style-type: none;
    margin-right: 12px;
}

.buscador {
    background-color: #e6e6e4;
}

.buscador .input-group {
    margin-top: -25px;
}

#footer .pie2 .col .titulo {
    color: #fff;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid #a0a0a0;
}

#X {
	margin-top: -10px;
	width: 208px;
    margin-left: 1195px;
}